topomojo-api:
  # Default values for topomojo-api.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  replicaCount: 1

  image:
    repository: cmusei/topomojo-api
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "2.2.6"
  serviceAccount:
    create: true
  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    ingressClass: nginx
    annotations:
      cert-manager.io/cluster-issuer: ca-issuer
      nginx.ingress.kubernetes.io/proxy-body-size: 6g
      kubernetes.io/ingress.class: nginx
    hosts:
    - host: crucible.local
      paths:
      - path: /topomojo/api
        pathType: ImplementationSpecific
      - path: /topomojo/hub
        pathType: ImplementationSpecific
      - path: /topomojo/docs
        pathType: ImplementationSpecific
    tls:
    - secretName: topomojo-tls
      hosts:
      - crucible.local

  # storage - either an existing pvc, the size for a new pvc, or emptyDir
  storage:
    existing: ""
    mode: ReadWriteOnce
    size: 1Gi
    class: local-path
    

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  ## customStart overrides the default start process.  Files are mounted in `/start`
  # Disabling in favor of kustomization generated configmap
  customStart:
    command: ['/bin/sh']
    args: ['/start/start.sh']
    binaryFiles: {}
    files: 
      start.sh: |
        #!/bin/sh
        cp /start/*.crt /usr/local/share/ca-certificates && update-ca-certificates
        cd /app && dotnet TopoMojo.Api.dll
      cacert.crt: |-



  # Config app settings with environment vars.
  # Those most likely needing values are listed. For others,
  # see https://github.com/cmu-sei/TopoMojo/blob/main/src/TopoMojo.Api/appsettings.conf
  env:
    PathBase: "/topomojo"
    Database__Provider: PostgreSQL
    Database__ConnectionString: Server=appliance-postgresql.postgres.svc.cluster.local;Port=5432;Database=topomojo;Username=postgres;Password=crucible;SSL Mode=Prefer;Trust Server Certificate=true;
    Database__AdminId: d29518c4-f61c-4284-81c4-f2fbd79e6e9a
    Database__AdminName: Administrator
    Cache__SharedFolder: ""
    FileUpload__IsoRoot: /mnt/tm/iso
    FileUpload__TopoRoot: /mnt/tm/files
    FileUpload__DocRoot: /mnt/tm/_docs
    # FileUpload__MaxFileBytes: 0
    Oidc__Authority: https://crucible.local/keycloak/realms/crucible
    OpenApi__Client__ClientId: topomojo-api
    Oidc__Audience: "topomojo-api"
    OpenApi__Client__AuthorizationUrl: https://crucible.local/keycloak/realms/crucible/protocol/openid-connect/auth
    OpenApi__Client__TokenUrl: https://crucible.local/keycloak/realms/crucible/protocol/openid-connect/token
    
    ApiKeyClients__0__Id: gameengine
    ApiKeyClients__0__Key: crucible
    ApiKeyClients__0__Scope: gameboard
    Core__ConsoleHost: crucible.local/console
    Pod__Url: 
    Pod__User: 
    Pod__Password: 
    Pod__PoolPath: 
    Pod__Uplink: 
    Pod__VmStore: 
    Pod__IsoStore: 
    Pod__DiskStore: 
    Pod__TicketUrlHandler: "none"
    Pod__ConsoleUrl: 
    Pod__Vlan__Reservations__0__Id: 
    Pod__Vlan__Reservations__0__Name: 
    

    Pod__Vlan__Range: [100-399]
    Pod__KeepAliveMinutes: 30
    # Pod__ExcludeNetworkMask: topomojo
    Logging__Console__DisableColors: false
    Logging__LogLevel__Default: Debug
    # Headers__LogHeaders: false
    Headers__Cors__Origins__0: https://crucible.local
    # Headers__Cors__Methods__[0]: ""
    # Headers__Cors__Headers__[0]: ""
    # Headers__Cors__AllowAnyOrigin: false
    # Headers__Cors__AllowAnyMethod: false
    # Headers__Cors__AllowAnyHeader: false
    # Headers__Cors__AllowCredentials: false
    # Headers__Forwarding__ForwardLimit: 1
    Headers__Forwarding__TargetHeaders: All
    # Headers__Forwarding__KnownNetworks: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/24 ::ffff:a00:0/104 ::ffff:b00a:0/108 ::ffff:c0d0:0/120
    # Headers__Forwarding__KnownProxies: ::1
    # Headers__Security__ContentSecurity: default-src 'self' 'unsafe-inline'; img-src data: 'self'
    # Headers__Security__XContentType: nosniff
    # Headers__Security__XFrame: SAMEORIGIN
    APP_UID: 0


topomojo-ui:
  # Default values for topomojo-ui.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  replicaCount: 1

  image:
    repository: cmusei/topomojo-ui
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "2.2.4"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
  # fsGroup: 2000

  securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: ca-issuer
      nginx.ingress.kubernetes.io/proxy-body-size: 6g
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: crucible.local
      paths:
      - path: /topomojo
        pathType: ImplementationSpecific
    tls:
    - secretName: topomojo-tls
      hosts:
      - crucible.local

  resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 20m
  #   memory: 20Mi
  # requests:
  #   cpu: 20m
  #   memory: 20Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
  

  

  ## basehref is path to the app
  basehref: "/topomojo"

  ## openGraph is string of html head metadata (single line!)
  # openGraph: >-
  #   <!-- Open Graph info for link previews -->
  #   <meta property="og:title" content="AppNmae" />
  #   <meta property="og:type" content="website" />
  #   <meta property="og:url" content="https://some.url" />
  #   <meta property="og:image" content="https://some.url/logo.png" />
  #   <meta property="og:description" content="description" />

  ## faviconsUrl is a url to tgz of icon bundle. If bundle has favicon.html,
  ## its contents will be merged into index.html head element.
  # faviconsUrl: "https://some.url/favs.tgz"

  ## settings is stringified json that gets included as assets/settings.json
  settings: |
    {
      "appname": "TopoMojo",
      "apphost": "",
      "mkshost": "",
      "oidc": {
        "authority": "https://crucible.local/keycloak/realms/crucible",
        "client_id": "topomojo-ui",
        "redirect_uri": "https://crucible.local/topomojo/oidc",
        "silent_redirect_uri": "https://crucible.local/topomojo/oidc-silent.html",
        "post_logout_redirect_uri": "https://crucible.local/topomojo",
        "response_type": "code",
        "scope": "openid profile topomojo-api",
        "automaticSilentRenew": true,
        "includeIdTokenInSilentRenew": true,
        "useLocalStorage": true
      }
    }
