topomojo-api:
  # Default values for topomojo-api.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  replicaCount: 1

  image:
    repository: cmusei/topomojo-api
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "2.2.6"
  serviceAccount:
    create: true
  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    ingressClass: nginx
    annotations:
      cert-manager.io/cluster-issuer: ca-issuer
      nginx.ingress.kubernetes.io/proxy-body-size: 6g
      kubernetes.io/ingress.class: nginx
    hosts:
    - host: crucible.local
      paths:
      - path: /topomojo/api
        pathType: ImplementationSpecific
      - path: /topomojo/hub
        pathType: ImplementationSpecific
      - path: /topomojo/docs
        pathType: ImplementationSpecific
    tls:
    - secretName: topomojo-tls
      hosts:
      - crucible.local

  # storage - either an existing pvc, the size for a new pvc, or emptyDir
  storage:
    existing: topomojo-pvc
    size: ""
    mode: ReadWriteOnce
    class: ""

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  ## customStart overrides the default start process.  Files are mounted in `/start`
  # Disabling in favor of kustomization generated configmap
  customStart:
    command: ['/bin/sh']
    args: ['/start/start.sh']
  #   binaryFiles: {}
  #   files: {}
  #     start.sh: |
  #       #!/bin/sh
  #       cp /start/*.crt /usr/local/share/ca-certificates && update-ca-certificates
  #       cd /app && dotnet TopoMojo.Api.dll
  #     cacert.crt: |-
  #       -----BEGIN CERTIFICATE-----
  #       MIIFOzCCAyOgAwIBAgIUGTOmJyKE50tjixfOVZDqHVtIB5EwDQYJKoZIhvcNAQEL
  #       BQAwJTEjMCEGA1UEAwwaQ3J1Y2libGUgQXBwbGlhbmNlIFJvb3QgQ0EwHhcNMjQw
  #       ODA2MTkxMDE2WhcNNDQwODAxMTkxMDE2WjAlMSMwIQYDVQQDDBpDcnVjaWJsZSBB
  #       cHBsaWFuY2UgUm9vdCBDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIB
  #       AJQvkw0yQltfepBZFxoE7HFOYA0nsVE5UEAAjavN9MFdYa0LO/Po8KRuBZj+2736
  #       ryrfnaMeRN8rw9u/I41S42acw62miVUBiimGRDlWq7+93F4YZNA6Lp9WKaBz+S+6
  #       XoOgqv8jyhe35GJRq7UaUcUgArxTeeLN+cF57lrkRa7oF9u3Zpot5+/JTql3dm/f
  #       h0zqm+YGj2ss5/Y+kb/PGonEttz4GEeXRZAlQAvxWhuIVxAo2SyyZVa9eI2hv9ge
  #       0RhjgFCn1LV2gAjS489Qobrm2jBJKe0Vqby7qUsSXokDeRzHhPSiC5niMGsUGmzw
  #       1qwogrG1FC6YAi9brR8ZF/OsZfQVi0dOyb6K6NwniomzlkcYcNyk0ey9ZGCR4MPw
  #       xgSm2ryT0Bnw5EUf4d6g0ZAZzHls6MMZ0GhTG7Hj5e2Kr2DvaHxd3ow4T/xXgHFF
  #       BgpdraYYm6Kd2QoM2iZZRW+4KnjxeYPLaVPeaxlyqXmctKBE4ola91zsTvOohb3b
  #       Oo4i5XSMA8RUPkpWSfVXuSdV4kQd4NqRAKnocO/2kyab3W03q+4u+uMSx3dZAn4a
  #       3JbigKPMM4RKnm/75hXdpwQ1rSsLJYzlk961oybecrPcfzodx/IO9o21hm9Bmjbj
  #       O7ds3ygoZ6u68BB2/jcAptYWvxsadozs7eYU4zCaDw+9AgMBAAGjYzBhMB0GA1Ud
  #       DgQWBBRpb+HpnOL2Puw2iIyacp6KWhgtAjAfBgNVHSMEGDAWgBRpb+HpnOL2Puw2
  #       iIyacp6KWhgtAjAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwICpDANBgkq
  #       hkiG9w0BAQsFAAOCAgEAR3oMLwg/+VRU+uao+A2rRLkJTnwkO273CN5bPScK+8QJ
  #       Jx1wZqJDDP440oP6JwZc5x5aYYSlHXzaFfeV/L4vb8zLLY5qp4WuveE85PSyIpXo
  #       fQ2c0R3C2RcKvxswTssV2pKFaBBHgRUlxxtgXul11u9eRPCZbvrwGzcx9awBwWpH
  #       UvVwfhl+WD+rwbFV61DTKZWzBaLuBwA5gOyUboHASfHoQ7s16pboHGzsZCpIBzna
  #       QPbllTqrwu7yhIQHdYkTSKV2i+BndX91wS//knE7j/kv774rN6DELdxbgR+SAgXF
  #       Llht6Hv8B/jkNCgNn5uQFdwIX6lIk6ulj3CtPclBryJYQDr8MAMxTVJmk/NCPLUv
  #       kUyxMTn0jD2z4Sh/BECbUOOWMrd0bfj8gLi+1bKvggtvGYQi8JCoB/5TDVW5RLzj
  #       8CGV+jKztoRQP3z+CvstIbTKxCHLKfk79djdkg4JOIItHA4bBuUaMerzvDlaHTCi
  #       +laxc2GLVT8pJetgOHvweOY1qi5XrBb06fuVAeGa0TtSM1a3Y+cxlcQzz87W8ZKI
  #       TWO0t0Iq1Gl/i/D9vcJFQY0QfLTT9DqdUr+kNhtW3wE4WbeQBIXTVft38IwWxx41
  #       apOUiTJwk2goUOaQLaNgJPONb7gY0+vSLbXbv8VLB+qacN8SVim/4CvIOguUfpg=
  #       -----END CERTIFICATE-----


  # Config app settings with environment vars.
  # Those most likely needing values are listed. For others,
  # see https://github.com/cmu-sei/TopoMojo/blob/main/src/TopoMojo.Api/appsettings.conf
  env:
    PathBase: "/topomojo"
    Database__Provider: PostgreSQL
    Database__ConnectionString: Server=appliance-postgresql.postgres.svc.cluster.local;Port=5432;Database=topomojo;Username=postgres;Password=crucible;SSL Mode=Prefer;Trust Server Certificate=true;
    Database__AdminId: d29518c4-f61c-4284-81c4-f2fbd79e6e9a
    Database__AdminName: Administrator
    Cache__SharedFolder: ""
    FileUpload__IsoRoot: /mnt/tm
    FileUpload__TopoRoot: /mnt/tm
    FileUpload__DocRoot: /mnt/tm/_docs
    # FileUpload__MaxFileBytes: 0
    Oidc__Authority: https://crucible.local/keycloak/realms/crucible
    OpenApi__Client__ClientId: topomojo-api
    Oidc__Audience: "topomojo-api"
    OpenApi__Client__AuthorizationUrl: https://crucible.local/keycloak/realms/crucible/protocol/openid-connect/auth
    OpenApi__Client__TokenUrl: https://crucible.local/keycloak/realms/crucible/protocol/openid-connect/token
    
    ApiKeyClients__0__Id: gameengine
    ApiKeyClients__0__Key: crucible
    ApiKeyClients__0__Scope: gameboard
    Core__ConsoleHost: crucible.local/console
    Pod__Url:
    Pod__User:
    Pod__Password:
    Pod__PoolPath:
    Pod__Uplink:
    Pod__VmStore:
    Pod__IsoStore:
    Pod__DiskStore:
    Pod__ConsoleUrl:
    Pod__Vlan__Reservations__0__Id: 0
    Pod__Vlan__Reservations__0__Name: bridge-net
    Pod__KeepAliveMinutes: 30
    # Pod__ExcludeNetworkMask: topomojo
    # Logging__Console__DisableColors: false
    # Logging__LogLevel__Default: Information
    # Headers__LogHeaders: false
    Headers__Cors__Origins__0: https://crucible.local
    # Headers__Cors__Methods__[0]: ""
    # Headers__Cors__Headers__[0]: ""
    # Headers__Cors__AllowAnyOrigin: false
    # Headers__Cors__AllowAnyMethod: false
    # Headers__Cors__AllowAnyHeader: false
    # Headers__Cors__AllowCredentials: false
    # Headers__Forwarding__ForwardLimit: 1
    Headers__Forwarding__TargetHeaders: All
    # Headers__Forwarding__KnownNetworks: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/24 ::ffff:a00:0/104 ::ffff:b00a:0/108 ::ffff:c0d0:0/120
    # Headers__Forwarding__KnownProxies: ::1
    # Headers__Security__ContentSecurity: default-src 'self' 'unsafe-inline'; img-src data: 'self'
    # Headers__Security__XContentType: nosniff
    # Headers__Security__XFrame: SAMEORIGIN


topomojo-ui:
  # Default values for topomojo-ui.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  replicaCount: 1

  image:
    repository: cmusei/topomojo-ui
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "2.2.4"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
  # fsGroup: 2000

  securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: ca-issuer
      nginx.ingress.kubernetes.io/proxy-body-size: 6g
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
    - host: crucible.local
      paths:
      - path: /topomojo
        pathType: ImplementationSpecific
    tls:
    - secretName: topomojo-tls
      hosts:
      - crucible.local

  resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 20m
  #   memory: 20Mi
  # requests:
  #   cpu: 20m
  #   memory: 20Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
  

  

  ## basehref is path to the app
  basehref: "/topomojo"

  ## openGraph is string of html head metadata (single line!)
  # openGraph: >-
  #   <!-- Open Graph info for link previews -->
  #   <meta property="og:title" content="AppNmae" />
  #   <meta property="og:type" content="website" />
  #   <meta property="og:url" content="https://some.url" />
  #   <meta property="og:image" content="https://some.url/logo.png" />
  #   <meta property="og:description" content="description" />

  ## faviconsUrl is a url to tgz of icon bundle. If bundle has favicon.html,
  ## its contents will be merged into index.html head element.
  # faviconsUrl: "https://some.url/favs.tgz"

  ## settings is stringified json that gets included as assets/settings.json
  settings: |
    {
      "appname": "TopoMojo",
      "apphost": "",
      "mkshost": "",
      "oidc": {
        "authority": "https://crucible.local/keycloak/realms/crucible",
        "client_id": "topomojo-ui",
        "redirect_uri": "https://crucible.local/topomojo/oidc",
        "silent_redirect_uri": "https://crucible.local/topomojo/oidc-silent.html",
        "post_logout_redirect_uri": "https://crucible.local/topomojo",
        "response_type": "code",
        "scope": "openid profile topomojo-api",
        "automaticSilentRenew": true,
        "includeIdTokenInSilentRenew": true,
        "useLocalStorage": true
      }
    }
